//
// Initialization partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "init" declaration. And this _init.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This initialization partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we define our custom mixins for this theme.
//


// =============================================================================
// Variables
// =============================================================================



// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// The height of the navigation container.
$nav-height: 3em;

// Tab styling.
$tabs-container-bg: #fff;
$tabs-border: #bbb;


// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";
// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";
// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3";
// Helps set up a vertical rhythm.
@import "compass/typography/vertical_rhythm";
// Add the Breakpoint mixins
@import "breakpoint";
// Add the Singularity responsive layout mixins.
@import "singularitygs";

// Now we add our custom helper mixins.
@import "mixins";
